server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://ep-empty-snowflake-a1mipsm3-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
    username: neondb_owner
    password: npg_sFid7Gfq8DcS
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        id:
          new_generator_mappings: true
        jdbc:
          batch_size: 20
        order_inserts: true
        order_updates: true

jwt:
  secret-key: "dGhpcyBpcyBhIHNlY3VyZSBqd3Qgc2VjcmV0IGtleSBmb3IgY2hpdGNoYXQgYXBwbGljYXRpb24gd2l0aCBzdWZmaWNpZW50IGxlbmd0aA=="
  expiration: 3600000  # 1 hour

cors:
  allowed-origins: "http://localhost:3000"
  allowed-methods: "GET,POST,PUT,DELETE,OPTIONS"
